<h1>Novo Aluno</h1>

<%= form_with model: @aluno do |form| %>

<div>
  <%= form.label :aluno_name %><br>
  <%= form.text_field :aluno_name %>
</div>

<div>
  <%= form.label :email %><br>
  <%= form.email_field :email%>
</div>

<div class="actions">
  <%= form.submit 'Salvar' %>
</div>

<% end %>

