<h1>Usuários</h1>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>E-mail:</th>
            <th>Matrícula:</th>
            <th>Ocupação:</th>
            <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= user.matricula %></td>
          <td><%= user.cargo.funcao %></td>
          <td><%= link_to 'Visualizar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= button_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza'} %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New user', new_user_path %>
<%= link_to 'Cargos', cargos_path %>
<%#= link_to 'Sair', destroy_admin_session_path %>


