<h1><%= @user.user_name %></h1>

<p><strong>E-mail: </strong><%= @user.email %></p>
<p><strong>Matricula: </strong><%= @user.matricula %></p>
<p><strong>Função: </strong><%= @user.cargo.funcao %></p> 


<%= link_to 'Voltar', users_path %>
<%= link_to 'Editar', edit_user_path %>